/*****************************最上面***********************************/

@media (max-width :1000px) {

    body {
        width: 100%;
    }

    /*鑽上面*/
    #topNav {
        flex-wrap: wrap;
        width: 100%;
    }

    #page {
        height: 58px !important;
        position: relative;
    }

    .quick-menu {
        display: flex;
        justify-content: space-between;

        position: unset !important;
        top: unset !important;
        right: unset !important;
        width: 100% !important;
    }

    #google_translate_element {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

@media (max-width: 510px) {

    .quick-menu {
        flex-wrap: wrap;
        width: 80% !important;
    }

    #page {
        height: 80px !important;
    }


    #navBar #all-category {
        top: 264px;

    }
}

/**************#header*****************/

@media (max-width:1020px) {

    #header .wrapper {
        width: 100% !important;
    }


}

@media (max-width:760px) {

    #header {
        height: 100px !important;
        background-color: rgb(249, 252, 254) !important;
    }


}


@media (max-width:510px) {

    #header {
        height: 150px !important;
        position: relative;
    }

    #header .search {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto !important;
        width: 280px !important;
        bottom: 50px;
    }

    #header .menu {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto !important;
        width: 310px !important;
        bottom: 10px;
    }

    #header h1 {
        position: absolute;
        left: 50px;
        top: 10px;
        margin: auto !important;
    }

    #header h2 {
        position: absolute;
        right: 50px;
        top: 10px;
        margin: auto !important;
        width: 100px;
    }
}

/*****************container**************/

@media (max-width:1020px) {
    .wrapper {
        width: 100% !important;

    }

    .user-info {
        width: 100% !important;
    }

    .sns-nav {
        width: 100% !important;
    }

    .user-info .user-data {
        width: 70% !important;
    }

    /**********************/

    .sns-main {
        width: 100% !important;
        background: none !important;
    }

    .sns-main .sidebar {
        float: unset !important;
        background-color: rgb(222, 240, 250) !important;
        width: 100% !important;
    }

    .sns-main .left-content {
        float: unset !important;
        width: 100% !important;
        background-color: white !important;
    }

    .left-content .sns-norecord {
        margin: auto !important;
        display: flex;
        justify-content: center;
    }

    /****************************/

    #footer {
        width: 100% !important;
    }

    /*****************************/
    .sns-main-all {
        width: 100% !important;
    }

    .sns-main-all .sns-norecord {
        margin-left: 0 !important;
    }
}

@media (max-width:600px) {
    .user-info {
        height: 280px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-info .user-face {
        position: relative !important;
        left: 0 !important;
    }

    .user-info .user-data {
        position: relative !important;
        left: 0px !important;
        width: 135px !important;
    }

    .user-info .user-stat {
        position: relative !important;
    }

    .sns-nav ul {
        display: flex;
        margin-left: 0 !important;
        justify-content: center;
    }

    .sns-nav ul li {
        float: unset !important;
    }
}

@media (max-width:380px) {

    .sns-nav ul li a {
        padding: 0 10px !important;
    }
}